body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #fff0f6;
}

.topbar{
    background: linear-gradient(to right, #ff9ecb, #ff6fa5);
    color: white;
    padding: 18px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
}

.navbar{
    background: #ffb3d9;
    padding: 12px;
    text-align: center;
    position: relative;
    z-index: 1000;
}

.navbar a{
    color: #6b003f;
    margin: 10px;
    text-decoration: none;
    font-weight: 600;
}

.dropdown{
    display: inline-block;
    position: relative;
}

.dropdown-content{
    display: none;
    position: absolute;
    background: white;
    min-width: 120px;
    border-radius: 10px;
    box-shadow: 0 5px 15px pink;
    z-index: 2000;
}

.dropdown-content a{
    display: block;
    padding: 10px;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.container{
    display: flex;
    padding: 20px;
}

.headline{
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    z-index: 1;
}

.headline img{
    width: 100%;
    border-radius: 20px;
    transition: 0.4s;
}

.headline:hover img{
    transform: scale(1.05);
}

.overlay{
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 15px;
    background: rgba(255,105,180,0.6);
    color: white;
    border-radius: 0 0 20px 20px;
}

.sidebar{
    width: 35%;
    margin-left: 20px;
}

.popular, .indepth{
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(255,105,180,0.3);
    transition: 0.3s;
}

.popular:hover, .indepth:hover{
    transform: translateY(-5px);
}

.detail{
    background: white;
    margin: 20px;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(255,105,180,0.3);
}

.detail img{
    width: 100%;
    border-radius: 20px;
}

.meta{
    color: #d46a92;
}

.fade-in{
    animation: fade 1s ease-in;
}

@keyframes fade{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

/* FOOTER */
footer{
    background: #ff9ecb;
    color: white;
    text-align: center;
    padding: 15px;
}

.indepth img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 15px;
}


.more-news{
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.news-card{
    background: white;
    padding: 10px;
    border-radius: 15px;
    width: 33%;
    box-shadow: 0 5px 15px rgba(255,105,180,0.2);
    transition: 0.3s;
}

.news-card:hover{
    transform: translateY(-5px);
}

.news-card img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

.news-card p{
    font-size: 14px;
}